*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header, header .mid, header .end{
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    align-items: center;
    width: 40%;
    justify-content: center;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgb(5, 56, 100);
    gap: 10%;
}
header a{
    font-size: 13px;
    color: rgb(200, 200, 200);
    text-decoration: none;
}
header .end{
    width: 20%;
}
nav::checkmark{
    background-color: white;
}
section{
    gap: 20px;
    align-items: center;
    display: flex;
}
section .p{
    width: 40%;
    padding: 50px;
    font-style: italic;
    text-indent: 50px;
}
section h1{
    text-indent: 0;
}
.news{
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5%;
}
.news .in-news{
    width: 25%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 20px;
}
.news .dateandtime{
    width: 20%;
}
.news #date{
    font-size: 34px;
}
.news #month, .info p{
    font-size: 10px;
    margin-bottom: 10px;
    color: rgb(124, 124, 124);
}
.news .info{
    width: 90%;
}
.info #time{
    color: rgb(255, 225, 169);
}
